<div class="dark-slider">
	<div class="slide" id="">
		<ol class="carousel-indicators">
			<li data-target="#" data-slide-to="0" class="active"></li>
			<li data-target="#" data-slide-to="1"></li>
			<li data-target="#" data-slide-to="2"></li>
		</ol>

		<div class="carousel-inner text-break">
			<div class="carousel-item active">
        <img
          src="[resources:default-bg.png]"
          alt="First Responsive Image"
          class="w-100"
          data-lfr-editable-id="slide1-img"
          data-lfr-editable-type="image"
        />

				<div class="carousel-caption d-none d-md-block">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-8 col-xl-6 mx-auto text-center">
                <h1 
                  class="text-${configuration.textColor.cssClass}"
                  data-lfr-editable-id="slide1-title"
                  data-lfr-editable-type="text"
                >
									First Slide Title
								</h1>

								<div class="lead mb-4">
                  <p 
                    class="text-${configuration.textColor.cssClass}"
                    data-lfr-editable-id="slide1-subtitle"
                    data-lfr-editable-type="rich-text"
                  >
										This is an slider component that you can use when you need extra attention to featured content or information.
									</p>
								</div>
                <a 
                  class="btn btn-primary ${configuration.gradient?then('gradient','')}" 
                  href="#Go Somewhere" 
                  data-lfr-editable-id="slide1-${fragmentEntryLinkNamespace}-link"
                  data-lfr-editable-type="link"
                >
                  Go Somewhere
                </a>
							</div>
						</div>
					</div>
				</div>
      </div>
      
			<div class="carousel-item">
        <img
          src="[resources:default-bg.png]"
          alt="First Responsive Image"
          class="w-100"
          data-lfr-editable-id="slide2-img"
          data-lfr-editable-type="image"
        />

				<div class="carousel-caption d-none d-md-block">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-8 col-xl-6 mx-auto text-center">
                <h1 
                  class="text-${configuration.textColor.cssClass}"
                  data-lfr-editable-id="slide2-title"
                  data-lfr-editable-type="text"
                >
									First Slide Title
								</h1>

								<div class="lead mb-4">
                  <p 
                    class="text-${configuration.textColor.cssClass}"
                    data-lfr-editable-id="slide2-subtitle"
                    data-lfr-editable-type="rich-text"
                  >
										This is an slider component that you can use when you need extra attention to featured content or information.
									</p>
								</div>
                <a 
                  class="btn btn-primary ${configuration.gradient?then('gradient','')}" 
                  href="#Go Somewhere" 
                  data-lfr-editable-id="slide2-${fragmentEntryLinkNamespace}-link"
                  data-lfr-editable-type="link"
                >
                  Go Somewhere
                </a>
							</div>
						</div>
					</div>
				</div>
      </div>
      
      <div class="carousel-item">
        <img
          src="[resources:default-bg.png]"
          alt="First Responsive Image"
          class="w-100"
          data-lfr-editable-id="slide3-img"
          data-lfr-editable-type="image"
        />

				<div class="carousel-caption d-none d-md-block">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-8 col-xl-6 mx-auto text-center">
                <h1 
                  class="text-${configuration.textColor.cssClass}"
                  data-lfr-editable-id="slide3-title"
                  data-lfr-editable-type="text"
                >
									First Slide Title
								</h1>

								<div class="lead mb-4">
                  <p 
                    class="text-${configuration.textColor.cssClass}"
                    data-lfr-editable-id="slide3-subtitle"
                    data-lfr-editable-type="rich-text"
                  >
										This is an slider component that you can use when you need extra attention to featured content or information.
									</p>
								</div>
                <a 
                  class="btn btn-primary ${configuration.gradient?then('gradient','')}" 
                  href="#Go Somewhere" 
                  data-lfr-editable-id="slide3-${fragmentEntryLinkNamespace}-link"
                  data-lfr-editable-type="link"
                >
                  Go Somewhere
                </a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>