<div class="page-title-area item-bg" data-lfr-background-image-id="title-area">
	<div class="container">
		<div class="page-title-content">
			<h2
				data-lfr-editable-id="01-title"
				data-lfr-editable-type="rich-text"
			>
					Banner Title Example
			</h2>
			<p
				data-lfr-editable-id="01-subtitle"
				data-lfr-editable-type="rich-text"
			>
				This is a simple banner component that you can use when you need extra attention to featured content or information.
			</p>
		</div>
	</div>
</div>